@charset "UTF-8";
/* CSS Document */

* { margin:0; padding:0; }

body {
	/*background-image:url(images/12_col.gif);*/
	background-position:center;
	background-repeat:repeat-y;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}

h1, h2, h3 {
}

h1 {
	font-size:36px;
	margin-top: 25px;
	margin-bottom: 20px;
	padding-top: 8px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
	font-size:18px;
	padding-top: 8px;
	margin-bottom: 4px;
}

p {
	font-size:16px;
	line-height: 24px;
	
	
	margin-bottom: 10px;
	/*padding: 10px;*/
	}
	
p em {
	color:red;
}
	
p.copyright {
	font-size:10px;
}


header {
	width: 940px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	}
	
nav {
	width: 940px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	overflow: hidden;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10px 0;
	margin-bottom: 20px;
}

nav ul li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}

nav ul li a {
	color: #000;
	text-decoration: none;
}

	nav ul li a:hover {
		color: #CCC;
	}

div#middle {
	width: 940px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	overflow: hidden;
}

article {
	width: 620px;
	float: left;
}

aside {
	width: 300px;
	float: right;
}

aside ul {
	padding-left: 20px;
	
}

aside ul li {
	list-style-type:none;
	background-image:url(images/bg-listitem-bullet.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

footer {
	width: 940px;
	margin: 0 auto;
}
